<div class="jumbotron align-middle">
  <h5 class="text-center">
    COVID19 - Santa Rita do Sapucaí
  </h5>
</div>
<div class="container">

  <p class="text-justify">
    Esta página tem como objetivo entregar uma alternativa para apresentar as informações relacionadas a COVID-19 na cidade de Santa Rita do Sapucaí -MG.
  </p>
  <p class="text-justify">
    Todas as informações são obtidas através da plataforma <a href="https://brasil.io/covid19/" target="_blank">Brasil.io</a> de acordo com as atualizações diárias.
  </p>
  <p class="text-justify text-danger">
    <b>Importante:</b> este não é o canal principal de apresentação dos dados, mas somente um complemento visual.
  </p>
</div>
